@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sarah Paukovits
    012 Copeland<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    440.241.3115
</address>

<address>
    <strong>Support:</strong>   <a href="sp749415@ohio.edu">sp749415@ohio.edu</a><br />
    
</address>